name: 'Issue Comment Close Workflows'

on:
    issues:
        types: [ closed ]

jobs:
    comment-job:
        name: 'Comment Job'
        if: github.event.issue.comments == '/close'
        
        runs-on: ubuntu-latest

        steps:
        - name: Closed Issue
          uses: actions/github-script@v6
        - run: |
            echo The Issue was closed
        #   with:
        #     script: |
        #         github.event.issues.closed({
        #             issue_number: context.issue.number,
        #             owner: context.repo.owner,
        #             repo: context.repo.repo,
        #         })