name: 'Issue Comment Close Workflows'

on:
    issue_comment:
        types: [ created ]

jobs:
    comment-job:
        name: 'Comment Job'
        if: github.event_name.issue_comment == 'close'
        runs-on: ubuntu-latest

        steps:
        - name: Closed Issue
          uses: peter-evans/close-issue@v3
